* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*body design with lightblue background color*/
  body {
    background-color: lightblue;
    color: black;
    font-family: Arial, Helvetica, sans-serif
  }
  /*header design with padding*/
.header {
  padding: 80px;
  text-align: center;
  background: #0b1110;
  color: white;
  height: 50px;
  
}
 /*topnav design*/
.topnav {
    overflow: hidden;
    background-color: grey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
   
  }
/*topnav links design*/
  .topnav a {
    float: left;
    color:black;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  /*topnav hover  background design*/
  .topnav a:hover {
    background-color: #ddd;
    color: lightseagreen;;
  }
  /*topnav active linkks color design*/
  .topnav a.active {
    background-color: #4CAF50;
    color:white;
  }
  /* Float four columns side by side */
.column {
    float: left;
    width: 32%;
    padding: 0px; 
    margin: 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    transition: 0.3s;
    
  }
  /*about me section design style*/
  #about-me {
      padding: 20px;
      background-color: lightseagreen;
      margin: 10px;
      
  }
  /*work section design style*/
  #work {
    padding: 20px;
    background-color:lightseagreen;
    margin: 10px;
    
}
/*container design style*/
.container {
  padding: 2px 16px;
}
  /* contact me section design*/
  #contact-me {
    padding: 20px;
    background-color: lightseagreen;
    margin: 10px;
  }
/*element type selector style floating left and right*/
.float-left {
  float: left;
  margin-right: 25px;
  padding:4px;
  width: 60px 70px;
  position: relative;
  width: 250px;
  height: 200px;
  
}
/*img flow for work experience*/
.float-top {
   width: 250px;
  height: 200px;
  top: 30px;
  left: 30px;
  border: 1px green solid;
  float: auto;
padding: 4px;
margin-top: 10px;
flex-flow: wrap;
}
 /*footer style*/
.footer {
  padding: 15px;
  text-align: center;
  background: grey;
  margin: 0px;
  color: black;
}
.fa {
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.content {
    background-color: lightblue;
    padding: 5px;
}


  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 1000px) {
    .column {
      width: 100%;
      display: block;
      margin-top: 20px;
    }
#h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
#h3 {
  font-size: 20px;
  float: top;
   
}
/*text flow for h2*/
.h2 {
  text-align: center;
}
#work-3-img {
  float: left;
}
